<div class="wrapper" #wrapper>

  <div id="mapContainer" class="map-container"></div>

  <div class="header">
    <nz-radio-group [(ngModel)]="regionValue" (ngModelChange)="showDistrict()">
      <label nz-radio *ngFor="let region of realRegions" [nzValue]="region.value">
        <span class="radio-label">{{region.name}}</span>
      </label>
    </nz-radio-group>
  </div>

  <div class="right-panel" [@panelToggle]="panelState">
    <div class="info-button" (click)="showOrHidePanel()">
      <div class="info-button-top"></div>
      <div class="info-button-middle">
        <span class="toggle-button">{{toggleButton}}</span>
      </div>
      <div class="info-button-bottom"></div>
    </div>
    <div class="right-panel-content">
      <div class="content-wrap">
        <div *ngIf="!is3DHeatmap" style="margin-bottom: 10px">
          <label nz-checkbox [(ngModel)]="isShowMarker" (ngModelChange)="showOrHideMarker($event)">
            <span>点标注</span>
          </label>
        </div>
        <div style="margin-bottom: 10px">
          <label nz-checkbox [(ngModel)]="isShowHeatmap" (ngModelChange)="showOrHideHeatmap($event)">
            <span>热力图</span>
          </label>
        </div>
        <div style="margin-bottom: 10px">
          <label nz-checkbox [(ngModel)]="isShowMonthpanel" (ngModelChange)="showOrHideMonthpanel($event)">
            <span>按月份筛选</span>
          </label>
        </div>
        <div class="issue-select">
          <nz-select style="width: 300px;"
                     [nzMode]="'multiple'"
                     [nzPlaceHolder]="'请选择问题类型'"
                     [nzNotFoundContent]="'无法找到'"
                     [(ngModel)]="selectedAppealType"
                     (ngModelChange)="selectAppealType($event)">
            <nz-option
              *ngFor="let option of appealType"
              [nzLabel]="option.label"
              [nzValue]="option.value">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="right-panel-bottom">
      数据类型：
      <nz-radio-group [(ngModel)]="dataType" (ngModelChange)="changeDataType()">
        <label nz-radio [nzValue]="'appeal'">
          <span>诉求</span>
        </label>
        <label nz-radio [nzValue]="'powerCut'">
          <span>停电</span>
        </label>
      </nz-radio-group>
    </div>
  </div>

  <div class="function-panel">
    <div class="function-panel-button" (click)="toggleFullScreen()">
      <img class="toggle-fullscreen-button-img"
           [src]="fullscreen?'./assets/images/quitFullscreen.png':'./assets/images/fullscreen.png'" alt="">
      {{toggleFullScreenButton}}
    </div>
    <div class="function-panel-button" (click)="toggleHeapmatPattern()">{{heatmapPattern}}</div>
  </div>

  <div class="time-line" *ngIf="isShowMonthpanel">
    <!--<div class="time-range" [ngStyle]="{'left':-timeRangeLeft+'px'}">-->
    <!--<div class="time-item" *ngFor="let item of timeLineData;let i = index" [ngClass]="{'selected':item.checked}"-->
    <!--(click)="selectMonth(item,i)">-->
    <!--{{item.label}}-->
    <!--</div>-->
    <!--</div>-->
    <nz-slider [nzMarks]="marks" [nzMin]="1" [nzMax]="12" [nzIncluded]="false"
               [(ngModel)]="currentMonth" (ngModelChange)="changeMonth()"></nz-slider>
  </div>
</div>

<div #createInfoWindow class="info-window">
  <div class="triangle-down"></div>
  <div class="info-window-title">
    信息窗体
    <div class="close-info-window" (click)="closeInfoWindow()">x</div>
  </div>
  <div class="info-window-content">
    内容
  </div>
</div>
