/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
}

.ant-select-selection--multiple {
  background: gray !important;
  color: white;
}

.ant-select-open .ant-select-selection {
  color: white;
}

.ant-select-selection__choice {
  background: #108ee9 !important;
}

.ant-select-selection--multiple .ant-select-selection__choice__content {
  color: white;
}

:root .ant-select-selection--multiple .ant-select-selection__choice__remove {
  color: white;
}
